<launch>
  <node pkg="tf03_ros" type="tf03_ros_node" name="tf03_ros_node">
    <param name="serial_port" type="string" value="/dev/ttyUSB0" />
    <param name="baud_rate" type="int" value="115200" />
  </node>
  <node pkg="eCoder_send_ros" type="eCoder_send_ros_node" name="eCoder_send_ros_node">
  </node>
  <include file="$(find xsens_driver)/launch/xsens_driver.launch">
  </include>
  <!-- <node pkg="tf" type="static_tra
  nsform_publisher" name="broadcastertf03" args="0 0 0 0 0 0 base_link tf03 100" /> -->
</launch>
